{% extends 'base.html.twig' %}

{% block title %}{{app_name}} :: Dashboard{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        Bienvenue
    </div>
    <div class="card-body">
        Bonjour et bienvenue dans le CRM300
    </div>
</div>
{% endblock %}
