<form method="post" action="{{ path('customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('{{ 'are_you_sur'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button class="btn btn-danger">{{ 'delete'|trans }}</button>
</form>
